.emp-profile{
    margin-top: 30px;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    align-content: center;
    align-items: center;
    border: 1px solid rgb(235, 233, 233);
    border-radius: 5px;
    justify-content: center;
    padding: 5px;
}